@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --primary-color: #FBBF24;
}

html {
    background: url(./images/minion.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

#heading {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    color: #F59E0B;
    padding: 1rem 0;
}



.output-txt {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    text-shadow: -1px 1px 0 #000,
                        1px 1px 0 #000,
                        1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.container-center {
    padding: 1rem;
    max-width: 700px;
    margin: auto;
}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    border-radius: 9px;
    margin: 1rem;
    padding: 1rem;
    resize: none;
}

#btn-translate {
    justify-content: center;
    background-color: #F59E0B;
    border: 4px double #cccccc;
    border-radius: 5px;
    color: black;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

#btn-translate:hover {
    background-color: #FCD34D;
}

#output {
    border: 1px solid black;
    border-radius: 9px;
    background-color: white;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

.footer-section{
    background-color: #111827;
    opacity: 0.6;
    border-radius: 1rem;
    padding: 1rem;
}

.footer-section h2 {
    color:#d9ff00;
    text-align: center;
    
}
.footer-section  p {
    left: 0;
    bottom: 0;
    color:white;
    text-align: center;
    justify-content: center;
}
